@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main-header{
    background-color: black;
    position: sticky;
    top: 0;
    padding: 0.8rem;
    z-index: 100;
}
.logo,
.profile{
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
}
.logo{
    position: relative;
}
.profile{
    position: relative;
}
.profile-modal{
    background-color: rgb(244, 243, 243);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 66px;
    border-radius: 2px;
    position: absolute;
    top: 48px;
    right: -64px;
    animation: modal 300ms;
    display: none;
}
.active-modal{
    display: inline-flex;
    transition: all 300ms ease;
}
.profile-modal a{
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
}
.back-drop{
    position: fixed;
    min-width: 100vw;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 80;
    display: none;
}
.back-drop_active{
    display: block;
    animation: modal 300ms;
}
.profile-modal a:hover{
    border-bottom: solid 1px black;
}
.astu{
    position: absolute;
    left: 8.8%;
    color: white;
    font-size: 27px;
    text-decoration: none;
    font-weight: bold;
}
 
.profile{
    margin-left: 20px;
}
.profile svg{
    max-width: 40px;
    max-height: 40px;
    cursor: pointer;
}
.main-nav{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav-items{
    list-style: none;
    display: flex;
    align-items: center;
}
.main-nav-item{
    margin: 0px 8px;
}
.main-nav-item a{
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
}
.main-nav-item a:hover{
    border-bottom: 0.6px solid white;
}

@keyframes modal{
    0%{
        transform:scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}