body{
    background-image: linear-gradient(180deg, rgba(0, 0, 0,0.9), rgba(0,0,0,0.5)),url("../img/book\ store.jpg") ;
    background-position: center;
    background-size:cover;
    min-height: 50rem;
}
main{
    width: 90%;
    margin: 10rem auto;

}
.title{
    color: burlywood;
    font-size: 4rem;
    text-align: center;
}
h2{
    color: white;
    margin-left: 2rem;
}
.author{
    font-weight: lighter;
}
.book{
    display: flex;
    align-items: center;
    margin: 2rem 0 0.5rem 0;
}
.book img{
    max-width: 5rem;
    height: 5rem;
    margin-left: 0.5rem;
}
.book input{
    min-width: 2.5rem;
    min-height: 2.5rem;
    background: rgba(210, 210, 210, 0.5);
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border-radius: 0.3rem;
    cursor: pointer;
    position: relative;
}

.book input:checked{
    background-color: red;
}

hr{
    width: 90vw;
}
.return{
    margin-top: 2rem;
    display: flex;
    justify-content: end;
}
.return-btn{
    color: white;
    background-color: burlywood;
    font-size: 2rem;
    padding: 0.8rem 2rem;
    border-radius: 0.5rem;
    font-weight: 550;
    /* border: 2px solid transparent; */
}
.return-btn:hover{
    background-color: white;
    color: burlywood;
    border: 2px solid burlywood;
}