body{
    background-image: linear-gradient(180deg, rgba(0, 0, 0,0.8), rgba(0,0,0,0.5)),url("../img/book\ store.jpg") ;
    background-position: center;
    background-size: cover;
    color: white;
    min-height: 93vh;
}
.main-header{
    display: flex;
    justify-content: center;
    margin-bottom: 6rem;
    margin-top: 3rem;
}
.main-header h1{
    font-size: 2.2rem;
    
}
.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login svg{
    max-width: 120px;
    max-height: 120px;
}
.login h1{
    font-size: 2.3rem;
    margin-bottom: 2rem;
    margin-top: 5px;
}
.login-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form div{
    margin: 1rem 0;
}
.username label,
.Password label{
    font-weight: bold ;
    font-size:1.5rem;
    margin-right: 1.5rem;
}
#Password{
    margin-left: 9px;
}
#user_name,
#Password{
    background-color: burlywood;
    border: none;
    border-radius: 0.2rem;
    outline: none;
    padding: 0.6rem 1.8rem;
    font-size: 1.1rem; 
}
.login-btn{
    background-color: rgb(35, 35, 35);
    color: white;
    border: none;
    border-radius: 0.2rem;
    margin-top: 10px;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 1.5rem;
}
.login-btn:hover{
    background-color: burlywood;
    color: rgb(35, 35, 35);
}
.main-footer{
    display: flex;
    position: sticky;
    top: 100%;
    margin-bottom: .6rem;
}
.main-footer a{
    font-size: 1.3rem;
    margin: auto;
    text-decoration: underline;
    color: white;
}