body{
    background-image: linear-gradient(180deg, rgba(0, 0, 0,0.9), rgba(0,0,0,0.5)),url("../img/book\ store.jpg") ;
    background-position: center;
    background-size:cover;
    min-height: 90rem;
}
main{
    width: 90%;
    margin: 10rem auto;

}
.title{
    color: burlywood;
    font-size: 4rem;
}
.filter-items{
    list-style: none;
    display: flex;
    margin-top: 40px;
}
.filter-item{
    color: burlywood;
    font-size: 1.5rem;
    margin: 0 0.5rem;
    cursor: pointer;
    user-select: none;
   
}
.filter-item:hover{
    color: rgb(190, 159, 118);
}
.active{
    border-bottom: 1.5px  solid rgb(229, 190, 138);
}